.sidepanel {
    width: 235px; /* Reduce the width to leave some space on the side */
    max-height: 2560px; /* Increase the height to make the sidepanel taller */
    background-color: #92d7f5;
    padding: 15px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0px; /* Place the sidepanel 0px from the top */
    right: 0px; /* Place the sidepanel 0px from the right */
    border-radius: 10px; /* Add rounded corners */
    overflow-y: auto;
}

.calendar {
    width: 180px;
    padding: 15px;
    position: relative;
}

.calendar-navigation {
    display: flex;
    justify-content: space-between;
}

#calendar-next:hover {
    transition: 0.2s;
    background-color: darkblue;
    color: white;
    cursor: grab;
}

.calendar-current-date {
    text-align: center;
    font-weight: bold;
}

.calendar-dates {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendar-dates li:hover {
    transition: 0.2s;
    background-color: darkblue;
    color: white;
    cursor: grab;
}

.calendar-dates li {
    text-align: center;
}

.calendar-dates .inactive {
    color: gray;
}

.calendar-dates .active {
    font-weight: bold;
    color: red;
}

.popup {
    position: fixed;
    top: 175px; /* Adjusted to be 20px lower than the previous position */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's above other elements */
}

.popup-content {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.popup-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.popup-content input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup-content button {
    margin-top: 20px;
}

.popup-content ul {
    list-style-type: none;
    padding: 0;
}

.popup-content ul li {
    text-align: left;
}

.notes {
    padding: 20px;
    border-top: 2px solid black; /* Make the horizontal line black and bold */
}

.notes h2 {
    margin-top: 0;
}

.notes textarea {
    width: 100%;
    height: 425px; /* Decrease the height of the textarea */
    padding: 10px;
    margin-bottom: 10px;
    resize: vertical;
}
